/*--announcement_START--*/

.announcement{}
.announcement .page-width{}
.announcement__body{}
.announcement__block-text{ text-align: center; font-size:var( --font-size-14);  font-weight:var( --font-weight-bold); line-height: 136%; text-transform: uppercase;}
.announcement__block-text p{margin: 0px 0px var(--spacing-16) 0px;}
.announcement__block-text p:last-child{margin:0px;}

/*--announcement_END--*/


/*--BANNER_START--*/
.slideshow{}
.slideshow__body{}
.slideshow-split{}
.slideshow-split__body{display:flex;}
.slideshow-split__media{width:58.334%;}
.slideshow-split__media-wrap{position: relative; padding-bottom:82.381%;}
.slideshow-split__media-wrap img,
.slideshow-split__media-wrap video{width:100%; position:absolute; object-fit:cover; top:0; left:0; bottom:0; right:0; height:100%;}
.slideshow-split__right{width:calc(100% - 58.334%);}
.slideshow-split__right-wrap{padding:var(--spacing-69) 121px var(--spacing-102) var(--spacing-64); display:flex; flex-direction:column; justify-content:space-between; grid-gap:87px; min-height:692px;}
.slideshow-split__list{}
.slideshow-split__list-wrap{display:flex; flex-direction: column; grid-gap:16px;}
.slideshow-split__list-text{}
.slideshow-split__list-title{max-width:415px;}
.slideshow-split__list-title *{line-height: 110%; }
.slideshow-split__list-info{max-width:380px;}
.slideshow-split__list-info *{}
.slideshow-split__list-link{}
.slideshow-split__list-link a{}
.slideshow-split__part{}
.slideshow-split__part-wrap{display:flex;align-items:center; grid-gap:24px;}
.slideshow-split__part-media-wrap{width:148px; position: relative; padding-bottom:100%;}
.slideshow-split__part-media-wrap::after{content:'';  position: absolute;  top: -1px;  left: -1px;  z-index: 1;width: calc(100% + 3px);  height: calc(100% + 3px); border-radius:16px; background: url(slideshow_split_desktop_right_border1.svg) no-repeat left center; background-size:100%;   margin: -1px;}
.slideshow-split__part-media-wrap img,
.slideshow-split__part-media-wrap video{width:100%; position:absolute; object-fit:cover; top:0; left:0; bottom:0; right:0; height:100%; border-radius: 16px;}
.slideshow-split__part-block{}
.slideshow-split__part-block-wrap{display:flex; flex-direction:column; grid-gap:24px;}
.slideshow-split__part-block-both{width: 208px; background:var(--color-off-white); padding:var(--spacing-14); position: relative; border-radius:100%;}
.slideshow-split__part-block-both::after{content:'';  position: absolute;  top: -1px;  left: -1px;  width: calc(100% + 3px);  height: calc(100% + 3px); border-radius:100%; background: url(slideshow_split_desktop_right_border2.svg) no-repeat left center; background-size:100%;   margin: -1px;}
.slideshow-split__part-block-both-image{width:96px; position: absolute; top:-20px; left:-16px; transform: rotate(164.17deg); z-index:11;}
.slideshow-split__part-block-both-image img,
.slideshow-split__part-block-both-image video{width:100%; height: auto;}
.slideshow-split__part-block-both-title{ text-align: center; font-size:var(--font-size-12);  font-weight:var(--font-weight-semibold); line-height:var(--line-height-heading); text-transform: uppercase;}
.slideshow-split__part-block-both:hover{background:var(--color-joy); cursor:pointer;}

/* slider2 */
.slideshow-box{position: relative;}
.slideshow-box__body{}
.slideshow-box__media{}
.slideshow-box__media-wrap{position: relative; padding-bottom:48.056%;}
.slideshow-box__media-wrap img,
.slideshow-box__media-wrap video{width:100%; position:absolute; object-fit:cover; top:0; left:0; bottom:0; right:0; height:100%;}
.slideshow-box__block{padding: 139px var(--spacing-104); position: absolute; top:0px; left:0px;}
.slideshow-box__block .page-width{padding:0px;}
.slideshow-box__block-wrap{display:flex; flex-direction: column; grid-gap:12px; padding:var(--spacing-33) var(--spacing-56);   width:388px; border-radius:16px;}
.slideshow-box__block-wrap-text{}
.slideshow-box__block-wrap-text *{}
.slideshow-box__block-wrap-title{}
.slideshow-box__block-wrap-title *{line-height: 110%; }
.slideshow-box__block-wrap-info{max-width:208px;}
.slideshow-box__block-wrap-info *{}
.slideshow-box__block-wrap-link{padding-top:var(--spacing-12);}
.slideshow-box__block-wrap-link a{}

/* silder 3 */
.slideshow-text{position: relative;}
.slideshow-text__body{}
.slideshow-text__media-wrap{position: relative; padding-bottom:48.056%;}
.slideshow-text__media-wrap img,
.slideshow-text__media-wrap video{width:100%; position:absolute; object-fit:cover; top:0; left:0; bottom:0; right:0; height:100%;}
.slideshow-text__block{position: absolute; top:0px; left:0px; padding: var(--spacing-80) 123px var(--spacing-56) var(--spacing-80); width:100%;}
.slideshow-text__block .page-width{padding:0px;}
.slideshow-text__block-wrap{display:flex; align-items:center; justify-content:space-between;}
.slideshow-text__list{}
.slideshow-text__list-wrap{display:flex; flex-direction: column; grid-gap:12px;}
.slideshow-text__list-wrap-tex{}
.slideshow-text__list-wrap-title{}
.slideshow-text__list-wrap-title *{line-height:110%}
.slideshow-text__list-wrap-info{max-width:400px;}
.slideshow-text__list-wrap-info *{}
.slideshow-text__list-wrap-link{padding-top:var(--spacing-8);}
.slideshow-text__list-wrap-link *{}
.slideshow-text__both{}
.slideshow-text__both-wrap{display:flex; flex-direction: column; grid-gap:12px;}
.slideshow-text__both-wrap-image{width:112px;}
.slideshow-text__both-wrap-image img,
.slideshow-text__both-wrap-image video{width:100%; height: auto;}

@media (max-width:749px){
.slideshow-split__body{flex-direction:column-reverse;}
.slideshow-split__media{width:100%;}
.slideshow-split__media-wrap{padding-bottom:81.07%;}
.slideshow-split__right{width:100%;}
.slideshow-split__right-wrap{padding:var(--spacing-28) var(--spacing-20) var(--spacing-19) var(--spacing-19); display:block; text-align:center; min-height:304px;}
.slideshow-split__list-wrap{grid-gap:8px;}
.slideshow-split__list-title{max-width:100%;}
.slideshow-split__list-info{max-width:286px; margin: auto;}
.slideshow-split__list-link{width:217px; margin: auto; padding-top:var(--spacing-10);}
.slideshow-split__part{display:none;}
/* slider2 */
.slideshow-box__media-wrap{ padding-bottom:162.134%;}
.slideshow-box__block{padding:245px var(--spacing-20) var(--spacing-71) var(--spacing-20);}
.slideshow-box__block-wrap{padding:var(--spacing-28) var(--spacing-49);   width:100%; text-align:center;}
.slideshow-box__block-wrap-title *{line-height: 110%; }
.slideshow-box__block-wrap-info{max-width:208px; margin: auto;}
.slideshow-box__block-wrap-link{padding-top:var(--spacing-4); width:217px;}
/* silder 3 */
.slideshow-text__media-wrap{padding-bottom:162.134%;}
.slideshow-text__block{padding:var(--spacing-32)  var(--spacing-20); width:100%; }
.slideshow-text__block-wrap{display:block;}
.slideshow-text__list-wrap{grid-gap:8px; text-align:center; color:var(--color-foreground)}
.slideshow-text__list-wrap-title{max-width:205px; margin: auto;}
.slideshow-text__list-wrap-info{max-width:286px; margin:auto;}
.slideshow-text__list-wrap-link{padding-top:var(--spacing-16); width:217px; margin: auto;}
.slideshow-text__both{display:none;}
}

@media(min-width:750px) and (max-width:989px){
.slideshow-split__media{width:53.334%;}
.slideshow-split__media-wrap{height:100%;}
.slideshow-split__right{width:calc(100% - 53.334%);}
.slideshow-split__right-wrap{padding:var(--spacing-20) var(--spacing-16); grid-gap:20px; min-height:100%;}
.slideshow-split__list-wrap{grid-gap:10px;}
.slideshow-split__list-title{max-width:300px;  height:56px;}
.slideshow-split__list-title *{line-height: 110%; font-size:var(--font-size-26);display:inline-block;}
.slideshow-split__list-info{max-width:380px;}
.slideshow-split__list-info *{font-size: var(--font-size-12);}
.slideshow-split__part-wrap{grid-gap:18px;}
.slideshow-split__part-media-wrap{width:120px;}
.slideshow-split__part-media-wrap::after{ background-size:123px;}
.slideshow-split__part-block-wrap{ grid-gap:18px;}
.slideshow-split__part-block-both{width:180px;}
.slideshow-split__part-block-both::after{background-size:183px;}
.slideshow-split__part-block-both-image{width:69px; position: absolute; top:-8px; left:-12px; transform: rotate(164.17deg); z-index: 11;}
/* slider2 */
.slideshow-box__block{padding:var(--spacing-20);}
.slideshow-box__block-wrap{grid-gap:8px; padding:var(--spacing-20); width:340px;}
.slideshow-box__block-wrap-title *{ font-size:var(--spacing-46);}
.slideshow-box__block-wrap-info{max-width:208px;}
.slideshow-box__block-wrap-info *{font-size:var(--spacing-14);}
.slideshow-box__block-wrap-link{padding-top:var(--spacing-8);}
/* silder 3 */
.slideshow-text__block{ padding: var(--spacing-20);}
.slideshow-text__list-wrap{ grid-gap:8px;}
.slideshow-text__list-wrap-title *{line-height:110%; font-size:var(--font-size-46);}
.slideshow-text__list-wrap-info{max-width:340px;}
.slideshow-text__list-wrap-info *{font-size:var(--font-size-14);}
.slideshow-text__both-wrap{grid-gap:8px;}
.slideshow-text__both-wrap-image{width:80px;}
}

@media(min-width:990px) and (max-width:1439px){
.slideshow-split__right-wrap{padding:var(--spacing-20) var(--spacing-20); grid-gap:30px; min-height:100%;}
.slideshow-split__list-wrap{grid-gap:12px;}
.slideshow-split__list-title{max-width:430px;}
.slideshow-split__list-title *{line-height: 110%; font-size:var(--font-size-36);display:inline-block;}
.slideshow-split__list-info{max-width:380px;}
.slideshow-split__part-media-wrap{width:130px;}
.slideshow-split__part-media-wrap::after{ background-size:133px;}
/* slider2 */
.slideshow-box__block{padding:var(--spacing-40);}
.slideshow-box__block-wrap-title *{ font-size:var(--spacing-50);}
/* silder 3 */
.slideshow-text__block{ padding: var(--spacing-40);}
.slideshow-text__both-wrap-image{width:100px;}

}

/*--BANNER_END--*/

/*--SECTION_1_START--*/
.treats{position: relative;}
.treats__body{}
.treats__media{}
.treats__media-wrap{position: absolute; top:0px; left:0px; height:100%; width:100%;}
.treats__media-wrap img,
.treats__media-wrap video{width:100%; position:absolute; object-fit:cover; top:0; left:0; bottom:0; right:0; height:100%;}
.treats__detail{position: relative; z-index: 1;}
.treats__detail .page-width{}
.treats__detail-wrap{}
.treats__title{}
.treats__title-text{max-width:632px; margin: auto;}
.treats__title-text *{font-size:var(--font-size-56); text-align:center;}
.treats__left{ position: absolute; top:60%; left:9%;}
.treats__left-media{position: relative; padding-bottom:100%; width:156px;}
.treats__left-media:after{content: '';   position: absolute;  top: -1px;  left: -1px;   width: calc(100% + 3px);  height: calc(100% + 3px); border-radius:100%; background: url(treats_desktop_left_border.svg) no-repeat left center; background-size:100%; margin: -1px;}
.treats__left-media img,
.treats__left-media video{border-radius:400px;  background:var(--color-white); width:100%; position:absolute; object-fit:cover; top:0; left:0; bottom:0; right:0; height:100%;}
.treats__image{position: absolute; top:10%; right:11%; width:169.254px; transform: rotate(-13.955deg);}
.treats__image-wrap{position: relative; padding-bottom:70.91%; }
.treats__image-wrap img,
.treats__image-wrap video{width:100%; position:absolute; object-fit:cover; top:0; left:0; bottom:0; right:0; height:100%;}
.treats__right{ position: absolute; top:95%; right:6.5%; width:140px; transform: rotate(8.464deg);}
.treats__right-media{position: relative; padding-bottom:100%;}
.treats__right-media:after{content: '';   position: absolute;  top: -1px;  left: -1px;   width: calc(100% + 3px);  height: calc(100% + 3px); border-radius: 16px; background: url(treats_desktop_right_border.svg) no-repeat left center; background-size:100%;   margin: -1px;}
.treats__right-media img,
.treats__right-media video{width:100%; position:absolute;  object-fit:cover; top:0; left:0; bottom:0; right:0; height:100%;  border-radius:16px;  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), var( --color-white); }
.treats__block{position: relative;  z-index:1; overflow:hidden; padding-top:31.181%;}
.treats__block .page-width{}
.treats__block-wrap{}
.treats__text{}
.treats__text{text-align:center;}
.treats__loop{padding-top:var(--spacing-32);}
.index-treats-logos-lists-marquee{}
.index-treats-logos-lists-marquee .js-marquee-wrapper{display:flex; align-items:center; grid-gap:117px;}
.index-treats-logos-lists-marquee .js-marquee span{display:flex; align-items:center; grid-gap:117px;}
.treats__logo{}
.treats__logo-wrap{display:flex; align-items:center; justify-content:center;}
.treats__logo-wrap img,
.treats__logo-wrap video{max-height:38px; width:auto; max-width:148.5px; object-fit:contain;}

@media (max-width:749px) {    
.treats__title-text{max-width:335px; margin: auto;}
.treats__title-text *{font-size:var(--font-size-32); text-align:center; line-height: 112%; letter-spacing: normal;}
.treats__block{padding-top:39.363%;}
.treats__text{line-height:var(--line-height-heading);}
.treats__loop{padding-top:var(--spacing-18);}
.index-treats-logos-lists-marquee .js-marquee-wrapper{grid-gap:32px;}
.index-treats-logos-lists-marquee .js-marquee span{grid-gap:32px;}
.treats__logo-wrap img,
.treats__logo-wrap video{max-height:28px; width:auto; max-width:148.5px; object-fit:contain;}
.treats__mobile{position: absolute; top:-84%; right:8%; width:80px;}
.treats__mobile-wrap{position: relative; padding-bottom:100%;}
.treats__mobile-wrap:after{content: '';   position: absolute;  top: -1px;  left: -1px;   width: calc(100% + 3px);  height: calc(100% + 3px); border-radius:100%; background: url(treats_mobile_round_border.svg) no-repeat left center; background-size:100%;   margin: -1px;}
.treats__mobile-wrap img,
.treats__mobile-wrap video{width:100%; position:absolute; object-fit:cover; border-radius: 320px; top:0; left:0; bottom:0; right:0; height:100%; background: var(--color-white);} 
}

@media(min-width:750px) and (max-width:989px){
.treats__title-text{max-width:432px; margin: auto;}
.treats__title-text *{font-size:var(--font-size-30);}
.treats__left{ position: absolute; top:30%; left:4%;}
.treats__left-media{width:106px;}
.treats__image{top:0%; right:6%; width:120px;}
.treats__right{ position: absolute; top:120%; right:6.5%; width:100px;}
.treats__block{padding-top:25.363%;}
.treats__loop{padding-top:var(--spacing-20);}
.index-treats-logos-lists-marquee .js-marquee-wrapper{grid-gap:60px;}
.index-treats-logos-lists-marquee .js-marquee span{grid-gap:60px;}
}

@media(min-width:990px) and (max-width:1439px){
.treats__title-text *{font-size:var(--font-size-40);}
.treats__left{ position: absolute; top:50%; left:4%;}
.treats__left-media{width:130px;}
.treats__image{top:0%; right:8%; width:140px;}
.treats__right{ position: absolute; top:100%; right:6.5%; width:120px;}
.treats__block{padding-top:25.363%;}
.index-treats-logos-lists-marquee .js-marquee-wrapper{grid-gap:80px;}
.index-treats-logos-lists-marquee .js-marquee span{grid-gap:80px;}
}
/*--SECTION_1_END--*/

/*--SECTION_3_START--*/
.subscribe{}
.subscribe .page-width{}
.subscribe__body{position: relative; border-radius:16px; padding:var(--spacing-56) var(--spacing-96) var(--spacing-56)  var(--spacing-40);}
.subscribe__media{}
.subscribe__media-wrap{position: absolute; top:0px; left:0px; height:100%; width:100%; }
.subscribe__media-wrap img,
.subscribe__media-wrap video{width:100%; position:absolute; object-fit:cover; top:0; left:0; bottom:0; right:0; height:100%; border-radius: 16px; background:  lightgray 0.003px -394.851px / 99.991% 457.158% no-repeat, var(--color-sand);}
.subscribe__content{position: relative; z-index: 1;}
.subscribe__content-wrap{display:flex; align-items:center; justify-content:space-between;}
.subscribe__detail{max-width:623px !important;}
.subscribe__detail-wrap{display:flex; align-items:center; grid-gap:40px;}
.subscribe__group{display:flex; flex-direction: column; grid-gap:16px;}
.subscribe__group-title{}
.subscribe__group-title *{line-height: 110%;}
.subscribe__group-infos{max-width:370px;}
.subscribe__group-infos *{}
.subscribe__group-lists{}
.subscribe__group-lists ul{display:flex; flex-direction: column; grid-gap:12px; }
.subscribe__group-lists ul li{line-height:var(--line-height-s1); padding: var(--spacing-2) 0px var(--spacing-2) var(--spacing-36); position: relative;}
.subscribe__group-lists ul li:before{content:''; background:url(subscribe_lists_icon.svg) no-repeat left center; width:24px; height:24px; transform:translate(0px , -50%);}
.subscribe__button{}
.subscribe__button-wrap{}
.subscribe__button-wrap a{}

@media (max-width:749px){

.subscribe__body{padding:var(--spacing-32) var(--spacing-20);}
.subscribe__content-wrap{flex-direction:column; grid-gap:258px;}
.subscribe__detail{max-width:100%;}
.subscribe__detail-wrap{flex-direction:column; grid-gap:16px;}
.subscribe__group-title *{font-size:var(--font-size-32); text-align:center;}
.subscribe__group-infos{max-width:270px; margin: auto;}
.subscribe__group-infos *{text-align:center;}
.subscribe__group-lists ul li{padding:0px 0px 0px var(--spacing-28);}
.subscribe__group-lists ul li:before{background-size:16px; width:16px; height:16px;}
.subscribe__button{width:100%;}
}

@media(min-width:750px) and (max-width:989px){
.subscribe__body{padding: var(--spacing-32) var(--spacing-16);}
.subscribe__detail-wrap{grid-gap:20px;}
.subscribe__group{grid-gap:10px;}
.subscribe__group-title *{font-size: var(--font-size-26);}
.subscribe__group-infos{max-width:270px;}
.subscribe__group-infos *{font-size: var(--font-size-14);}
.subscribe__group-lists ul{grid-gap:8px; }
.subscribe__group-lists ul li{padding:0px 0px 0px var(--spacing-24); font-size: var(--font-size-14);}
.subscribe__group-lists ul li:before{ background-size:16px;}
}

@media(min-width:990px) and (max-width:1439px){
.subscribe__body{padding: var(--spacing-40) var(--spacing-24);}
.subscribe__detail-wrap{grid-gap:26px;}
.subscribe__group{grid-gap:12px;}
.subscribe__group-title *{font-size: var(--font-size-30);}
.subscribe__group-infos{max-width:300px;}
.subscribe__group-lists ul{grid-gap:10px;}
.subscribe__group-lists ul li{padding:0px 0px 0px var(--spacing-28);}
.subscribe__group-lists ul li:before{background-size:20px;}
}
/*--SECTION_3_END--*/

/*--SECTION_4_START--*/

.science{position: relative;}
.science .page-width{}
.science__body{}
.science__detail{position:relative; z-index: 1;}
.science__detail-wrap{display:flex; flex-direction: column; grid-gap:16px;}
.science__title{}
.science__title *{line-height: 110%;}
.science__infos{max-width:494px;}
.science__infos *{}
.science__links{}
.science__links  a{}
.science__media{position:absolute; top:0px; left:0px; width:100%; height:100%;}
.science__media-wrap{}
.science__media-wrap img,
.science__media-wrap video{width:100%; position:absolute; object-fit:cover; top:0; left:0; bottom:0; right:0; height:100%;}
.science__loop{position: relative; z-index: 1; padding:124px var(--spacing-42) 0px  67px;}
.science__loop-wrap{display:flex; justify-content:space-between;}
.science__leftside{display:flex; flex-direction:column; grid-gap:35px;}
.science__block{display:flex; flex-direction: column; grid-gap:8px; text-align:center; max-width:262px;}
.science__block-image{width:80px; margin: auto;}
.science__block-image img,
.science__block-image video{width:100%; height: auto;}
.science__block-title{ font-size:var(--font-size-16); font-family:var(--font-body--family); font-weight:var(--font-weight-semibold); line-height:var(--line-height-heading);}
.science__block-infos{max-width:240px; margin: auto;}
.science__block-infos *{}
.science__rightside{display:flex; flex-direction:column; grid-gap:35px;}

@media (max-width:749px){

.science__detail{text-align:center;}
.science__title *{font-size:var(--font-size-32);}
.science__infos{max-width:100%;}
.science__media{position:relative; top:-80px;  left:-209px; width:751px; height:100%;}
.science__media-wrap{position: relative; padding-bottom:64.981%; }
.science__item{margin-top:-135px;}
.science__item-wrap{}
.science__item-wrap .accordion{padding:0;}
.science__item-wrap .accordion>ul{margin:0; list-style-type:none;}
.science__item-wrap .accordion>ul>li{margin:0; border:0px;}
.science__item-wrap .accordion>ul>li:last-child{margin-bottom:0; border:none;}
.science__item-wrap .accordion>ul>li .question{padding:var(--spacing-15) 0px;  background: url(science_item_mobile_border.svg) no-repeat left bottom; width:100%; background-size: 100%;}
.science__item-wrap .accordion>ul>li .question .science__both{display:flex; align-items:center; grid-gap:8px;}
.science__item-wrap .accordion>ul>li .question .science__both-image{width:40px;} 
.science__item-wrap .accordion>ul>li .question .science__both-image img,
.science__item-wrap .accordion>ul>li .question .science__both-image video{width:100%; height: auto;}
.science__item-wrap .accordion>ul>li .question .science__both-title{font-family:var(--font-body--family); font-size:var(--font-size-16); font-weight:var(--font-weight-semibold); line-height:var(---line-height-s1);}
.science__item-wrap .accordion>ul>li .question  svg{max-width:16px; right:0px; }
.science__item-wrap .accordion>ul>li.open .question svg{transform: rotate(180deg); top:24px;}
.science__item-wrap .accordion>ul>li.open .question{}
.science__item-wrap .accordion>ul>li .answer{}
.science__item-wrap .accordion>ul>li .answer .accordion__answer-common{padding:0px 0px  var(--spacing-16) 0px;   background: url(science_item_mobile_border.svg) no-repeat left bottom; width:100%; background-size: 100%; font-family:var(--font-body--family); font-size:var(--font-size-16); font-weight:var(--font-weight-regular); line-height:var(---line-height-s1);}
.science__item-wrap .accordion>ul>li .answer .accordion__answer-common p{ margin:0px 0px  var( --spacing-12) 0px;}
.science__item-wrap .accordion>ul>li .answer .accordion__answer-common p:last-child{margin:0px;}
.science__item-wrap .accordion>ul>li .answer .accordion__answer-common a{color:inherit;}
.science__item-wrap .accordion>ul>li.open .question{background:none;}
.science__links{text-align: center; padding-top:var(--spacing-32);}

}

@media(min-width:750px) and (max-width:989px){

.science__detail-wrap{display:flex; flex-direction: column; grid-gap:10px;}

.science__title *{font-size:var(--font-size-30);}
.science__infos{max-width:394px;}
.science__infos *{font-size:var(--font-size-12);}
.science__loop{padding:var(--spacing-60) 0px 0px 0px;}
.science__leftside{grid-gap:16px;}
.science__block-image{width:50px; margin: auto;}
.science__block-infos *{font-size: var(--font-size-14);}
.science__rightside{grid-gap:16px;}

}
@media(min-width:990px) and (max-width:1439px){

.science__title *{font-size:var(--font-size-36);}
.science__loop{padding:var(--spacing-80) 0px 0px 0px;}
.science__leftside{grid-gap:25px;}
.science__block-image{width:60px;}
.science__rightside{grid-gap:25px;}
}
/*--SECTION_4_END--*/


/*--SECTION_5_START--*/

.testimonials{position: relative;}
.testimonials .page-width{padding:0px;}
.testimonials__body{}
.testimonials__title{}
.testimonials__title-wrap{}
.testimonials__title-wrap *{text-align:center; line-height: 110%;}
.testimonials__block{position: absolute; top:66px; right:66px;  width:172px; transform: rotate(4.95deg);}
.testimonials__block-wrap{background:var(--color-creme); position: relative;  display: flex; padding: 7px var(--spacing-12) var(--spacing-12) var(--spacing-12); flex-direction: column; align-items: center; grid-gap: 6px; border-radius: 8px;}
.testimonials__block-wrap:after{content: ''; position: absolute; top:-1px; left:-1px;  width: calc(100% + 3px);  height: calc(100% + 3px); margin: -1px; border-radius:8px; background: url(testimonials_desktop_block_border.svg) no-repeat left center;  background-size:100%; z-index: 11;}
.testimonials__text{color:var(--color-foreground); text-align: center; font-family:var(--font-burned-pancakes--family); font-size:var(--font-size-18); font-weight:var(----font-weight-bold); line-height: 112%;}
.testimonials__link{width:148.769px;}
.testimonials__link img,
.testimonials__link video{width:100%; height: auto;}
.testimonials__loop{overflow: hidden; padding-top:var(--spacing-56);}
.testimonials__loop-wrap{}
.index-object-testimonials-marquee{}
.index-object-testimonials-marquee .js-marquee-wrapper{display:flex; align-items:center; grid-gap:24px;}
.index-object-testimonials-marquee .js-marquee span{display:flex; align-items:center; grid-gap:24px;}
.testimonials__media{width:320px;}
.testimonials__media-wrap{position: relative; padding-bottom:151.875%;}
.testimonials__media-wrap img,
.testimonials__media-wrap video{width:100%; position:absolute; object-fit:cover; top:0; left:0; bottom:0; right:0; height:100%; border-radius:16px;}
.testimonials__detail{width:320px; border-radius: 16px; background:var(--color-creme); text-align:center; padding:0px;}
.testimonials__detail-wrap{display:flex; flex-direction: column; grid-gap:16px; justify-content:space-between; padding:var(--spacing-77) var(--spacing-16); min-height:486px;}
.testimonials__item{display:flex; flex-direction:column; grid-gap:16px;}
.testimonials__item-star{display:flex; align-items:center; justify-content:center;}
.testimonials__item-star svg{max-width:100%;}
.testimonials__item-info{text-align: center; font-family:var(--font-burned-pancakes--family); font-size:var(--font-size-24);  font-weight:var(--font-weight-bold); line-height:var(--line-height-s1);}
.testimonials__item-info p{margin:0px 0px var(--spacing-16) 0px;}
.testimonials__item-info p:last-child{margin:0px;}
.testimonials__item-icon{max-width:106px; margin: auto;}
.testimonials__item-icon img,
.testimonials__item-icon video{width:100%; height: auto;}
.testimonials__both{display:flex; flex-direction: column; grid-gap: 4px;}
.testimonials__both-name{color:var(--color-foreground); text-align: center; font-family:var(--font-burned-pancakes--family); font-size:var(--font-size-24);  font-weight:var(--font-weight-bold); line-height:var(--line-height-t2);}
.testimonials__both-text{display:inline-block; max-width: 151px; margin: auto; padding:2px 8px; border-radius: 99px; background: var(--color-joy); text-align: center; font-family:var(--font-burned-pancakes--family); font-size:var(--font-size-16);font-weight:var(--font-weight-regular); line-height:var(--line-height-tight); letter-spacing:var(--letter-spacing-wide);}
.testimonials__block:hover .testimonials__block-wrap{background:var(--color-joy);}

@media (max-width:749px){
.testimonials__title-wrap *{font-size:var(--font-size-32); max-width:193px; margin: auto;}
.testimonials__block{position: absolute; top:auto; bottom:48px;  right:18px; width:184.19px;  z-index: 1;}
.testimonials__block-wrap{ padding:var(--spacing-12); grid-gap:9px; border-radius: 8px;}
.testimonials__block-wrap:after{content: ''; position: absolute; top:-1px; left:-1px;  width: calc(100% + 2px);  height: calc(100% + 2px); margin: -1px; background: url(testimonials_mobile_block_border.svg) no-repeat left center;  background-size:100%; z-index: 11;}
.testimonials__text{font-size:var(--font-size-14);}
.testimonials__link{width:158.607px;}
.testimonials__loop{padding-top:var(--spacing-32);}
.index-object-testimonials-marquee .js-marquee-wrapper{ grid-gap:12px;}
.index-object-testimonials-marquee .js-marquee span{grid-gap:12px;}
.testimonials__media{width:280px;}
.testimonials__media-wrap{ padding-bottom:151.79%;}
.testimonials__media-wrap img,
.testimonials__media-wrap video{border-radius:12px;}
.testimonials__detail{width:280px; border-radius:12px;}
.testimonials__detail-wrap{padding:36px var(--spacing-16); min-height:425px;}
.testimonials__item{grid-gap:8px;}
.testimonials__item-star svg{max-width:60px;}
.testimonials__item-info{min-height:186px;}
.testimonials__item-icon{ padding-top: var(--spacing-8);}
.testimonials__both{grid-gap:8px;}
.testimonials__both-name{font-size:var(--font-size-18);}
.testimonials__both-text{max-width: 167px; font-size:var(--font-size-18);}
}

@media(min-width:750px) and (max-width:989px){
.testimonials__title-wrap *{font-size:var(--font-size-30);}
.testimonials__block{position: absolute; top:auto; bottom:48px;  right:18px; width:184.19px;  z-index: 1;}
.testimonials__block-wrap{ padding:var(--spacing-12); grid-gap:9px; border-radius: 8px;}
.testimonials__block-wrap:after{content: ''; position: absolute; top:-1px; left:-1px;  width: calc(100% + 2px);  height: calc(100% + 2px); margin: -1px; background: url(testimonials_mobile_block_border.svg) no-repeat left center;  background-size:100%; z-index: 11;}
.testimonials__text{font-size:var(--font-size-14);}
.testimonials__link{width:158.607px;}
.testimonials__loop{padding-top:var(--spacing-30);}
.index-object-testimonials-marquee .js-marquee-wrapper{ grid-gap:16px;}
.index-object-testimonials-marquee .js-marquee span{grid-gap:16px;}
.testimonials__media{width:280px;}
.testimonials__media-wrap{ padding-bottom:151.79%;}
.testimonials__detail{width:280px;}
.testimonials__detail-wrap{padding:36px var(--spacing-16); min-height:425px;}
.testimonials__item{grid-gap:8px;}
}

@media(min-width:990px) and (max-width:1439px){
.testimonials__title-wrap *{font-size:var(--font-size-36);}
.testimonials__block{position: absolute; top:40px; right:18px;}
.testimonials__loop{padding-top:var(--spacing-40);}
.index-object-testimonials-marquee .js-marquee-wrapper{ grid-gap:20px;}
.index-object-testimonials-marquee .js-marquee span{grid-gap:20px;}
.testimonials__media{width:300px;}
.testimonials__media-wrap{ padding-bottom:151%;}
.testimonials__detail{width:300px;}
.testimonials__detail-wrap{padding:50px var(--spacing-16); min-height:453px;}

}
/*--SECTION_5_END--*/


/*--SECTION_6_START--*/
.media-content{position: relative; }
.media-content__body{}
.media-content__media-wrap{position: absolute; top:0px; left:0px; height:100%; width:100%;}
.media-content__media-wrap img,
.media-content__media-wrap video{width:100%; position:absolute; object-fit:cover; top:0; left:0; bottom:0; right:0; height:100%;}
.media-content__detail{position: relative; z-index: 1;}
.media-content__detail .page-width{padding:0px;}
.media-content__detail-wrap{display:flex; align-items:center;}
.media-content__left{width:50%; padding:0px var(--spacing-88);}
.media-content__left-media{position: relative; padding-bottom:120.59%;}
.media-content__left-media img,
.media-content__left-media video{width:100%; position:absolute; object-fit:cover; border-radius: 16px;  top:0; left:0; bottom:0; right:0; height:100%;}
.media-content__right{width:calc(100% - 50%); padding:0px var(--spacing-88);}
.media-content__right-wrap{max-width:544px;}
.media-content__title{}
.media-content__title *{line-height:110%;}
.media-content__right-wrap .media-content__detail{padding-top:var(--spacing-24);}
.media-content__right-wrap .media-content__detail *{}
.media-content__right-wrap .media-content__detail * strong{padding-bottom:var(--spacing-4);}
.media-content__loop{display:flex; align-items:center; grid-gap:16px; padding-top:var(--spacing-24);}
.media-content__logo{width:112px;}
.media-content__logo img,
.media-content__logo video{width:100%; height: auto;}
.media-content__reverse .media-content__detail-wrap{flex-direction:row-reverse;} 
.media-content__button{padding-top:var(--spacing-24);}

@media (max-width:749px){
.media-content__detail .page-width{padding:0px;}
.media-content__detail-wrap{flex-direction: column; grid-gap:32px;}
.media-content__left{width:100%; padding:0px var(--spacing-20);}
.media-content__left-media{padding-bottom:120.3%;}
.media-content__right{width:100%; padding:0px var(--spacing-20) 0px var(--spacing-20);}
.media-content__right-wrap{max-width:100%; text-align:center;}
.media-content__title *{line-height: 110%; font-size:var(--font-size-32);}
.media-content__right-wrap .media-content__detail{padding-top:var(--spacing-16);}
.media-content__loop{justify-content:center;}
.media-content__logo{width:80px;}
.media-content__button{padding-top:var(--spacing-16);}
.media-content__reverse .media-content__detail-wrap{flex-direction:column-reverse;} 
}

@media(min-width:750px) and (max-width:989px){
.media-content__left{ padding:0px var(--spacing-20);}
.media-content__right{padding:0px var(--spacing-20);}
.media-content__right-wrap{max-width:100%;}
.media-content__title *{font-size:var(--font-size-32);}
.media-content__right-wrap .media-content__detail{padding-top:var(--spacing-16);}
.media-content__loop{padding-top:var(--spacing-16);}
.media-content__right-wrap .media-content__detail *{font-size: var(--font-size-14);}
.media-content__logo{width:80px;}
.media-content__button{padding-top:var(--spacing-16);}
}

@media(min-width:990px) and (max-width:1439px){
.media-content__left{ padding:0px var(--spacing-40);}
.media-content__right{padding:0px var(--spacing-40);}
.media-content__right-wrap{max-width:100%;}
.media-content__title *{font-size:var(--font-size-36);}
}
/*--SECTION_6_END--*/


/*--SECTION_7_START--*/

.faqs{}
.faqs .page-width{}
.faqs__body{}
.faqs__side{display:flex; border-radius:16px; }
.faqs__block{width:calc(100% - 50%); padding:var(--spacing-64)  var(--spacing-56); border-radius: 16px 0px 0px 16px;}
.faqs__block-wrap{display:flex; flex-direction: column; grid-gap:56px;}
.faqs__title{}
.faqs__title-wrap{}
.faqs__title-wrap *{line-height: 110%;}
.faqs__loops{margin-top:calc(-1 * var(--spacing-24)); }
.faqs__loops-wrap{}
.faqs__loops-wrap .accordion{}
.faqs__loops-wrap .accordion{padding:0;}
.faqs__loops-wrap .accordion>ul{margin:0; list-style-type:none;}
.faqs__loops-wrap .accordion>ul>li{margin:0; border:0px; background: url(faqs_desktop_bottom_border.svg) no-repeat left -3px bottom;  background-size: 100%;}
.faqs__loops-wrap.accordion>ul>li:last-child{margin-bottom:0; border:none;}
.faqs__loops-wrap .accordion>ul>li .question{}
.faqs__loops-wrap .accordion>ul>li .question h3{padding:var(--spacing-24) 0px; position: relative; width:100%; font-family:var(--font-body--family); font-size:var(--font-size-16); font-weight:var(--font-weight-semibold); line-height:var(--line-height-heading);}
.faqs__loops-wrap .accordion>ul>li .question  svg{max-width:16px; right:0px; }
.faqs__loops-wrap .accordion>ul>li.open .question{}
.faqs__loops-wrap .accordion>ul>li .answer{}
.faqs__loops-wrap .accordion>ul>li .answer .accordion__answer-common{padding:0px var(--spacing-16)  var(--spacing-24) 0px; width:100%; font-family:var(--font-body--family); font-size:var(--font-size-16); font-weight:var(--font-weight-regular); line-height:var(--line-height-s1);}
.faqs__loops-wrap .accordion>ul>li .answer .accordion__answer-common p{ margin:0px 0px  var( --spacing-12) 0px;}
.faqs__loops-wrap .accordion>ul>li .answer .accordion__answer-common p:last-child{margin:0px;}
.faqs__loops-wrap .accordion>ul>li .answer .accordion__answer-common a{color:inherit;}
.faqs__loops-wrap .accordion>ul>li.open .question svg{transform: rotate(180deg); top:20px; }
.faqs__loops-wrap .accordion>ul>li.open .question h3{background:none;}
.faqs__links{}
.faqs__links-wrap{}
.faqs__links-wrap a{}
.faqs__media{width:50%; height:auto;}
.faqs__media-wrap{position: relative; padding-bottom:100%; height:100%;}
.faqs__media-wrap img,
.faqs__media-wrap video{width:100%; position:absolute; object-fit:cover; top:0; left:0; bottom:0; right:0; height:100%; border-radius: 0px 16px 16px 0px;}

@media (max-width:749px){
.faqs__side{flex-direction: column-reverse; border-radius: 12px;}
.faqs__block{width:100%; padding:var(--spacing-32)  var(--spacing-20); border-radius:0px 0px 12px 12px;}
.faqs__block-wrap{grid-gap:32px;}
.faqs__title-wrap *{text-align:center; font-size:var(--font-size-32);}
.faqs__loops-wrap .accordion>ul>li .question h3{background: url(faqs_mobile_bottom_border.svg) no-repeat left bottom; text-wrap: inherit; background-size: 100%;  padding:var(--spacing-24)  var(--spacing-16)   var(--spacing-24) 0px;}
.faqs__loops-wrap .accordion>ul>li .question  svg{max-width:16px; right:0px; }
.faqs__loops-wrap .accordion>ul>li .answer .accordion__answer-common{ background: url(faqs_mobile_bottom_border.svg) no-repeat left bottom; background-size: 100%; font-size:var(--font-size-14); font-weight:var(--font-weight-regular);}
.faqs__links{text-align:center;}
.faqs__media{width:100%;}
.faqs__media-wrap img,
.faqs__media-wrap video{border-radius: 12px 12px 0px 0px;}
}

@media(min-width:750px) and (max-width:989px){

.faqs__block{padding:var(--spacing-30) var(--spacing-20);}
.faqs__block-wrap{grid-gap:24px;}
.faqs__title-wrap *{font-size:var(--font-size-30);}
.faqs__loops{margin-top:calc(-1 * var(--spacing-16));}
.faqs__loops-wrap .accordion>ul>li .question h3{padding:var(--spacing-16) var(--spacing-20)   var(--spacing-16) 0px; font-size:var(--font-size-14); text-wrap: initial;}
.faqs__loops-wrap .accordion>ul>li .answer .accordion__answer-common{padding:0px var(--spacing-16)  var(--spacing-16) 0px; font-size:var(--font-size-12);}
.faqs__links-wrap a span{font-size: var(--font-size-12);}
}
@media(min-width:990px) and (max-width:1439px){

.faqs__block{padding:var(--spacing-36);}
.faqs__block-wrap{grid-gap:30px;}
.faqs__title-wrap *{font-size:var(--font-size-36);}
.faqs__loops-wrap .accordion>ul>li .question h3{padding:var(--spacing-16) var(--spacing-24)   var(--spacing-16) 0px; font-size:var(--font-size-15); text-wrap: initial;}
.faqs__loops-wrap .accordion>ul>li .answer .accordion__answer-common{padding:0px var(--spacing-16)  var(--spacing-16) 0px; font-size:var(--font-size-14);}
.faqs__links-wrap a span{font-size: var(--font-size-12);}

}
/*--SECTION_7_END--*/

/*--SECTION_8_START--*/

.instagram{overflow:hidden;}
.instagram__body{}
.instagram__loop{}
.footer-custom-instagram-marquee{}
.footer-custom-instagram-marquee .js-marquee-wrapper{display:flex; align-items:center; grid-gap:18px;}
.footer-custom-instagram-marquee .js-marquee span{display:flex; align-items:center; grid-gap:18px;}
.instagram__loop-media{width:240px;}
.instagram__loop-media-wrap{position: relative; padding-bottom:100%;}
.instagram__loop-media-wrap img,
.instagram__loop-media-wrap video{border-radius:16px; width:100%; position:absolute; object-fit:cover; top:0; left:0; bottom:0; right:0; height:100%;}

@media (max-width:749px){

.footer-custom-instagram-marquee .js-marquee-wrapper{grid-gap:12px;}
.footer-custom-instagram-marquee .js-marquee span{ grid-gap:12px;}
.instagram__loop-media{width:128px;}
}

@media(min-width:750px) and (max-width:989px){

.instagram__loop-media{width:180px;}

}
@media(min-width:990px) and (max-width:1439px){
.instagram__loop-media{width:200px;}
}
/*--SECTION_8_END--*/

/* --ATC button compare price-- */
.add-to-cart-compare-price {
  font-weight: var(--font-weight-regular, 400);
  opacity: 0.6;
  text-decoration: line-through;
  margin-inline-end: 0.2em;
}
