.page-wrapper--drawer-open {
    margin-right: 0;
    transition-timing-function: var(--animation-timing-fade-in);
}
#cart-drawer .theme-drawer__dialog{
    z-index:111;
}
.cart-drawer__overlay {
    opacity: 0;
    cursor: pointer;
    transition: opacity var(--animation-speed) var(--animation-timing-fade-out);
    background: #3E2F2A;
    position: fixed;
    inset: 0;
    z-index:111;
}
theme-drawer[open] .cart-drawer__overlay {
    opacity: .80;
    transition-timing-function: var(--animation-timing-fade-in);
}
theme-drawer:not([open]) .cart-drawer__overlay {
    pointer-events: none;
}