@media only screen and (max-width: 989px) {

  html[scroll-lock]:has(.menu-open) .page-wrapper {
      overflow: visible;
  }
  
  .header-logo {
    margin-left: 0;
  }

  .header__columns {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--spacing-20) 0 var(--spacing-20);
    position: relative;
  }

  #header-component[data-menu-style=drawer] .header__columns {
    padding: 0 var(--spacing-20) 0 var(--spacing-20);
  }

  .menu-drawer svg {
    width: auto;
  }

  .menu-drawer__navigation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header__drawer {
    display: flex;
  }

  .header__columns .search-action {
    display: none;
  }

  .menu-drawer {
    width: 100%;
    max-width: 100%;
    transition: none;
    background: var(--surface-2);
    color: var(--surface-1);
    height: calc(var(--drawer-height) - var(--header-group-height, 0px) - var(--header-height));
    top: calc(var(--header-group-height, 0px) + var(--header-height));
    justify-content: space-between;
    box-shadow: 0 0 0;
    overflow: scroll;
    border-right: 0;
  }

  .menu-drawer__backdrop {
    top: calc(var(--header-group-height, 0px) + var(--header-height));
  }

  [data-scroll-direction='up'] .menu-drawer,
  [data-scroll-direction='down'] .menu-drawer {
    height: calc(var(--drawer-height) - var(--header-height) + var(--spacing-1));
    top: calc(var(--header-height) - var(--spacing-1));
  }

  [data-scroll-direction='up'] .menu-drawer__backdrop,
  [data-scroll-direction='down'] .menu-drawer__backdrop {
    top: calc(var(--header-height) - var(--spacing-1));
  }


  .menu-drawer-container {
    .header__icon--menu {
      padding: 0;
      width: auto;
      height: 100%;
      border-radius: 0;

      .header-drawer-icon {
        width: var(--spacing-24);
        height: var(--spacing-24);
      }

      .svg-wrapper>svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .menu-drawer__close-button {

    padding: 0;
    width: auto;
    height: 100%;
    border-radius: 0;

    .header-drawer-icon {
      width: var(--spacing-24);
      height: var(--spacing-24);
      display: flex;
    }

    .svg-wrapper>svg {
      width: 100%;
      height: 100%;
    }
  }


  details[open] .header__icon--menu {
    display: none;
  }

  details[open] .menu-drawer__close-button {
    display: block;
  }

  .header-menu {
    display: none;
  }

  #header-component[data-menu-style=drawer] .header__column {
    display: flex;
  }

  .header__drawer {
    --header-drawer-min-height: var(--spacing-63)
  }

  .header__column--left {
    width: calc(50% - var(--spacing-50));
    display: flex;
  }

  .header__column--right {
    width: calc(50% - var(--spacing-50));
    display: flex;
    gap: 0;
    padding-right: 0;
  }

  .menu-drawer__navigation {
    display: block;
    position: relative;
    overflow: scroll;
  }

  .menu-drawer__utility-links {
    margin-block: 0;
  }

  /* Drawer */
  .header-drawer__detail-wrap {
    padding: var(--spacing-24) var(--spacing-20) var(--spacing-26) var(--spacing-20);
  }

  #header-component[data-transparent-bar][data-slide-wants-transparent='true']:not([data-sticky-state='active']):not(:has(.menu-drawer-container.menu-open)) .header__columns {
    background: transparent;
  }

  .header-drawer__list-wrap .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: var(--spacing-16);
  }

  .header-drawer__list-wrap-text {
    position: relative;
    cursor: pointer;
    width: 10rem;
    height: var(--spacing-40);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-off-white);
    border-radius: 100%;
  }

  .header-drawer__list-wrap-text-wrap {
    font-family: var(--font-heading--family);
    line-height: 112%;
    opacity: 0.5;
  }

  .header-drawer__list-wrap-text:after {
    content: '';
    position: absolute;
    opacity: 0.5;
    top: calc(0px - var(--spacing-1));
    left: calc(0px - var(--spacing-1));
    z-index: 1;
    width: calc(100% + var(--spacing-2));
    height: calc(100% + var(--spacing-2));
    background: url(megamenu_mobile_tab_border.svg) no-repeat left center;
    background-size: 100%;
  }

  .header-drawer__list-wrap-text.active {
    background-color: var(--color-joy);
  }

  .header-drawer__list-wrap-text.active:after {
    opacity: 1;
  }

  .header-drawer__list-wrap-text.active .header-drawer__list-wrap-text-wrap {
    opacity: 1;
  }

  .megamenu-list__body-wrap {
    display: block;
  }

  .megamenu-list__part {
    width: 100%;
    padding-top: var(--spacing-32);
  }

  .megamenu-list__card-wrap-media {
    width: var(--spacing-56);
  }

  .megamenu-list__card-wrap-media-wrap img,
  .megamenu-list__card-wrap-media-wrap video {
    border-radius: 0.5rem;
  }

  .megamenu-list__card-wrap-media-wrap:after {
    border-radius: 0.5rem;
    background: url(megamenu_mobile_left_img_border.svg) no-repeat left center;
  }

  .megamenu-list__card-wrap-title {
    width: calc(100% - var(--spacing-56));
  }

  .megamenu-list__link-wrap a {
    display: flex;
    align-items: center;
  }

  .megamenu-list__link-wrap a .common-button-icon {
    display: block;
    width: var(--spacing-48);
    height: var(--spacing-48);
    opacity:1;
  }

  .megamenu-list__link-wrap a .common-button-icon svg {
    width: 100%;
    height: 100%;
  }

  .megamenu-list__item {
    width: 100%;
    padding-left: 0;
    padding-top: var(--spacing-21);
  }

  .megamenu-list__grid {
    padding: var(--spacing-8);
    border-radius: 0.75rem;
    background: var(--color-sand);
  }

  .megamenu-list__grid-wrap {
    flex-direction: row;
    grid-gap: 0;
    align-items: center;
    gap: var(--spacing-16);
  }

  .megamenu-list__grid-wrap-both {
    width: 47.5%;
  }

  .megamenu-list__grid-wrap-media {
    width: 100%;
  }

  .megamenu-list__grid-wrap-media-wrap {
    padding-bottom: 71.06%;
  }

  .megamenu-list__grid-wrap-media-wrap img,
  .megamenu-list__grid-wrap-media-wrap video {
    border-radius: 0.75rem;
  }

  .megamenu-list__grid-wrap-badge {
    padding: var(--spacing-8);
  }

  .megamenu-list__grid-wrap-block {
    width: calc(100% - 47.5% - var(--spacing-16));
  }

  .megamenu-list__grid-wrap-block-wrap {
    grid-gap: var(--spacing-4);
    text-align: left;
  }

  .megamenu-list__grid-wrap-infos {
    max-width: var(--spacing-115);
  }

  .megamenu-list__grid-badge-left .megamenu-list__grid-wrap-badge {
    left: 0;
    right: auto;
  }

  .header-drawer__menu-list {
    padding-top: var(--spacing-24);
  }

  .header-drawer__menu-list-wrap ul {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    grid-gap: var(--spacing-12) var(--spacing-15);
  }

  .header-drawer__menu-list-wrap ul li {
    width: calc(50% - var(--spacing-8));
    line-height: var(--line-height-tight);
  }

  /* Drawer */
}

@media only screen and (width >=750px) and (width <=989px) {
  .menu-drawer {
    max-width: 25rem;
  }

  .menu-open .menu-drawer__backdrop {
    display: block;
  }

  #header-component[data-menu-style=menu] .header__drawer {
    display: flex;
  }

  #header-component[data-menu-style=menu] :is(.header-menu, .dropdown-localization) {
    display: none;
  }
}