.overlay_background {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(var(--backdrop-color-rgb) / var(--backdrop-opacity));
  animation: var(--animation-speed) var(--animation-easing) forwards;
  position: fixed;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.megamenu_open .overlay_background {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.megamenu_open .announcement{
  position: relative;
  z-index:10;
}

.header[data-sticky-state='idle'] {
  opacity: 1;
}

.header__row {
  display: flex;
}

.header__row--top .header__columns {
  min-height: var(--spacing-63);
  width: 100%;
}

.header__columns {
  --padding-block-start: 0;
  --padding-block-end: 0;
}

.header-menu__inner {
  height: 100%;
}

.menu-list__list-item:not([slot=overflow]):after {
  pointer-events: none;
}

.menu-list .menu-list__list {
  gap: var(--spacing-16);
  background: transparent;
}

.header__column--left .menu-list .menu-list__list {
  margin-inline-start: calc(var(--spacing-16) * -1);
}

.menu-list .menu-list__link .menu-list__link-title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6.25rem;
  height: var(--spacing-32);
  font-weight: var(--font-weight-semibold);
  line-height: 1.1875rem;
  letter-spacing: 0.0175rem;
  padding: var(--spacing-1) var(--spacing-16) 0 var(--spacing-16);
  gap: var(--spacing-4);
}

.menu-list .menu-list__link .menu-list__link-title svg {
  width: var(--spacing-16);
  height: var(--spacing-16);
}

.menu-list .menu-list__link:hover .menu-list__link-title,
.menu-list .menu-list__link:focus-visible .menu-list__link-title,
.menu-list .menu-list__link[aria-expanded='true'] .menu-list__link-title,
.menu-list .menu-list__link[aria-current='page'] .menu-list__link-title {
  background-color: var(--color-joy);
}

.menu-list .menu-list__link[aria-expanded='true'] .menu-list__link-title svg {
  transform: rotate(180deg);
}

.account-button {
  display: none;
}

.header__column--right {
  gap: var(--spacing-16);
}

.header__column--right header-actions {
  margin-inline-start: 0;
}

.header-actions__cart-icon {
  --cart-bubble-size: var(--spacing-20);
  --cart-bubble-ring: var(--spacing-22);
  --cart-bubble-inset: var(--spacing-1);
  --cart-bubble-top: 0;
  --cart-bubble-right: calc(0px - var(--spacing-6));

  width: var(--spacing-43);
  height: var(--spacing-32);
}

header-actions .header-actions__action {
  overflow: visible;
}

.header-actions__cart-icon .svg-wrapper,
.header-actions__action:not(.account-button) .svg-wrapper {
  width: 100%;
  height: 100%;
}

.header-actions__cart-icon svg,
.header-actions__cart-icon .svg-wrapper>img {
  width: 100%;
  height: 100%;
}

.header-actions__cart-icon--has-cart svg {
  mask: none;
  -webkit-mask: none;
}

.header-actions__cart-icon .cart-bubble {
  background-color: var(--cart-bubble-background);
}

.header-actions__cart-icon .cart-bubble__background {
  top: calc((var(--cart-bubble-size) - var(--cart-bubble-ring)) / 2);
  left: calc((var(--cart-bubble-size) - var(--cart-bubble-ring)) / 2);
  width: var(--cart-bubble-ring);
  height: var(--cart-bubble-ring);
  background-image: url(cart-bubble.svg);
  background-size: var(--cart-bubble-ring) var(--cart-bubble-ring);
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  background-color: transparent;
}

@media (min-width: 990px) and (max-width: 9999px) {
  .header__drawer {
    display: none;
  }

  #header-component :is(.header-menu) {
    display: block;
  }

  .header__column--left .search-action {
    display: none;
  }
}

/* Header */

/* Megamenu */
.menu-list__submenu-inner {
  max-height: calc(100vh - var(--header-height));
  background: transparent;
  border: 0;
}

.mega-menu-custom {
  padding: 0;
}

.mega-menu-custom .mega-menu {
  display: flex;
}

.mega-menu-custom .mega-menu__grid {
  display: flex;
  grid-gap: 0;
}

.mega-menu__list {
  display: flex;
}

.megamenu-list__body {
  width: 100%;
}

.megamenu-list__body-wrap {
  display: flex;
  padding: var(--spacing-32) var(--spacing-56);
  width: 100%;
  gap: 8rem;
}

.megamenu-list__part {
  width: 24.097%;
}

.megamenu-list__part-wrap {
  display: flex;
  flex-direction: column;
  grid-gap: var(--spacing-24);
  justify-content: space-between;
  height: 100%;
}

.megamenu-list__loop-wrap {
  display: flex;
  flex-direction: column;
  grid-gap: var(--spacing-24);
}

.megamenu-list__card-wrap {
  display: flex;
  align-items: center;
}

.megamenu-list__card-wrap-media {
  width: var(--spacing-80);
}

.megamenu-list__card-wrap-media-wrap {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
}

.megamenu-list__card-wrap-media-wrap img,
.megamenu-list__card-wrap-media-wrap video {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  border-radius: var(--style-border-radius-lg);
}

.megamenu-list__card-wrap-media-wrap:after {
  content: '';
  position: absolute;
  top: calc(0px - var(--spacing-1));
  left: calc(0px - var(--spacing-1));
  z-index: 1;
  width: calc(100% + var(--spacing-2));
  height: calc(100% + var(--spacing-2));
  background: url(megamenu_desktop_left_img_border.svg) no-repeat left center;
  background-size: 100%;
}

.megamenu-list__card-wrap-title {
  width: calc(100% - var(--spacing-80));
  padding-left: var(--spacing-16);
}

.megamenu-list__card-wrap-title-wrap {
  font-size: var(--font-size-16);
  line-height: 120%;
  font-weight: var(--font-weight-semibold);
}

.megamenu-list__link-wrap {
  width: 100%;
}

.megamenu-list__link-wrap a {
  width: 100%;
}

.megamenu-list__link-wrap a .common-button {
  width: 100%;
  flex: 1;
}

.megamenu-list__link-wrap a .common-button-icon {
  display: none;
}

.megamenu-list__item {
  width: calc(100% - 24.097% - 8rem);
  flex: 1;
}

.megamenu-list__grid-wrap {
  display: flex;
  flex-direction: column;
  grid-gap: var(--spacing-16);
}

.megamenu-list__grid-wrap-both {
  position: relative;
}

.megamenu-list__grid-wrap-both-wrap {
  position: relative;
}

.megamenu-list__grid-wrap-media-wrap {
  position: relative;
  padding-bottom: 71.907%;
}

.megamenu-list__grid-wrap-media-wrap img,
.megamenu-list__grid-wrap-media-wrap video {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  border-radius: var(--style-border-radius-lg);
}

.megamenu-list__grid-wrap-badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--spacing-16);
}

.megamenu-list__grid-wrap-badge-wrap {
  position: relative;
  width: calc(var(--spacing-47) - var(--spacing-2));
  height: calc(var(--spacing-48) - var(--spacing-2));
  border-radius: 100%;
  text-wrap: initial;
  text-align: center;
  background: var(--color-joy);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-4);
}

.megamenu-list__grid-wrap-badge-wrap:after {
  content: '';
  position: absolute;
  top: calc(0px - var(--spacing-1));
  left: calc(0px - var(--spacing-1));
  z-index: 1;
  width: calc(100% + var(--spacing-2));
  height: calc(100% + var(--spacing-2));
  background: url(megamenu_desktop_right_img_border.svg) no-repeat left center;
  background-size: 100%;
}

.megamenu-list__grid-wrap-texts {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: var(--spacing-16);
}

.megamenu-list__grid-wrap-texts-wrap {
  height: var(--spacing-20);
  background: var(--color-joy);
  border-radius: 6.1875rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-2) var(--spacing-8);
}

.megamenu-list__grid-wrap-block-wrap {
  display: flex;
  flex-direction: column;
  grid-gap: var(--spacing-2);
  text-align: center;
}

.megamenu-list__grid-wrap-title {
  font-size: var(--font-size-16);
  line-height: 120%;
  font-weight: var(--font-weight-semibold);
}

.mega-menu-curve {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.mega-menu-curve svg {
  width: 100%;
  height: auto;
  top: -1;
}

@media (min-width: 990px) and (max-width: 1200px) {
  .menu-list .menu-list__list {
    gap: var(--spacing-8);
  }

  .header__column--right {
    gap: var(--spacing-8);
  }

  .menu-list .menu-list__link .menu-list__link-title {
    padding-left: var(--spacing-12);
    padding-right: var(--spacing-12);
  }

  .megamenu-list__body-wrap {
    padding: var(--spacing-20);
  }

  .megamenu-list__body-wrap {
    gap: var(--spacing-40);
  }

  .megamenu-list__part {
    width: 26.097%;
  }

  .megamenu-list__item {
    width: calc(100% - 26.097% - var(--spacing-40));
  }

  .megamenu-list__card-wrap-media {
    width: var(--spacing-56);
  }

  .megamenu-list__card-wrap-media-wrap img,
  .megamenu-list__card-wrap-media-wrap video {
    border-radius: 0.5rem;
  }

  .megamenu-list__card-wrap-media-wrap::after {
    border-radius: 0.5rem;
    background: url(megamenu_mobile_left_img_border.svg) no-repeat left center;
  }
}

@media (min-width: 1201px) and (max-width: 1439px) {
  .megamenu-list__body-wrap {
    padding: var(--spacing-32) var(--spacing-20);
  }
}

/* Megamenu */