.product-custom-heading {
  display: block;
  width: 100%;
  color: var(--color-text-body);
  margin-bottom:var(--spacing-18);
}

.product-custom-heading__title {
  margin: 0 0 var(--spacing-6);
  font-family: var(--font-heading--family);
  font-size: var(--font-size-32);
  font-weight: var(--font-weight-bold);
  line-height: 112%;
  letter-spacing: 0;
}

.product-custom-heading__meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-4);
  margin-top: 0;
  font-family: var(--font-body--family);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-bold);
  line-height: 136%;
  color:var(--color-onyx);
}

.product-custom-heading__packet-price {
  display:block;
  padding: var(--spacing-2) var(--spacing-8);
  color: var(--color-text-body);
  background: var(--color-aqua);
  border-radius: 999px;
  font-size: var(--font-size-12);
  line-height: 136%;
  color:var(--color-onyx);
}

@media screen and (max-width: 749px) {
  .product-custom-heading__title{
      font-size: var(--font-size-24);
      line-height: 112%;
         
  } 
}