.product__grid-item {width:20rem; height:auto;}
.product-grid__card.product-grid__card{overflow: visible; grid-gap:var(--spacing-16);}
.card-gallery .product-media-container{ --gallery-aspect-ratio:0.8; }
.card-gallery .product-media-container img,
.card-gallery .product-media-container video{ border-radius:var(--spacing-16); object-fit: cover; }
.card-gallery .product-media picture.product-media__image{ width:100%; height:100%; aspect-ratio:inherit; }
.card-gallery .product-media picture.product-media__image img{ width:100%; height:100%; object-fit: cover; }
.product-badges__badge{ position: relative; width: calc(var(--spacing-47) - var(--spacing-2)); height: calc(var(--spacing-48) - var(--spacing-2)); padding: var(--spacing-4); display:flex; align-items:center; justify-content:center; }
.product-badges__badge:after{ content: ''; position: absolute; top: calc(0px - var(--spacing-1)); left: calc(0px - var(--spacing-1)); z-index: 1; width: calc(100% + var(--spacing-2)); height: calc(100% + var(--spacing-2)); background: url(megamenu_desktop_right_img_border.svg) no-repeat left center; background-size: 100%; }
.product-card-content__body-wrap{display:flex; flex-direction:column; grid-gap:var(--spacing-4);}
.product-card-content__review .jdgm-widget *{ line-height:var(--line-height-tight); font-size:0; }
.product-card-content__review .jdgm-preview-badge .jdgm-star.jdgm-star{ color: var(--color-onyx); font-size: var(--font-size-12); padding-right: 0px !important; margin-right: var(--spacing-2) !important; }
.product-card-content__review .jdgm-preview-badge .jdgm-star.jdgm-star.jdgm--on:before{
    content:"";
    background:url(https://cdn.shopify.com/s/files/1/0931/5355/8847/files/Union.svg?v=1786363340) no-repeat center;
    width:var(--spacing-12);
    height:var(--spacing-12);
    display:block;
}
.product-card-content__review .jdgm-preview-badge .jdgm-star.jdgm-star.jdgm--off:before{
    content:"";
    background:url(https://cdn.shopify.com/s/files/1/0931/5355/8847/files/Vector_796e2284-e9e7-401f-882f-f88b19459060.svg?v=1786366183) no-repeat center;
    width:var(--spacing-12);
    height:var(--spacing-12);
    display:block;
}
.product-card-content__review .jdgm-preview-badge .jdgm-star.jdgm-star.jdgm--half:before{
    content:"";
    background:url(https://cdn.shopify.com/s/files/1/0931/5355/8847/files/Frame_2085662005.svg?v=1786366183) no-repeat center;
    width:var(--spacing-12);
    height:var(--spacing-12);
    display:block;
}


.product-card-content__review .jdgm-preview-badge .jdgm-prev-badge__stars{
    display:flex;
}
.product-card-content__review .jdgm-preview-badge .jdgm-prev-badge{
    display:flex !important;
}
.product-card-content__review .jdgm-prev-badge__text{ padding-left: var(--spacing-6); font-size: var(--font-size-12); font-weight: var(--font-weight-regular); line-height: var(--line-height-t2); }
.product-card-content__lists ul{list-style:none; margin:0; padding:0; display:flex; align-items:center; grid-gap:var(--spacing-11);}
.product-card-content__lists ul li{ position: relative;}
.product-card-content__lists ul li::after{content:''; position: absolute; top:calc(50% + var(--spacing-1)); right:calc(-1 * var(--spacing-7));transform:translate(0 , -50%); width:var(--spacing-2); height:var(--spacing-2); background:var(--color-text-body); border-radius:100%;}
.product-card-content__lists ul li:last-child::after{display: none;}
.product-card-content__price .compare-at-price{ color: inherit; text-decoration-line: line-through; text-decoration-thickness: var(--spacing-1); text-decoration-color: inherit; opacity: 0.5; }

.quick-add { display: block; animation: none; transition: none; }
.quick-add .quick-add__product-form-component .shopify-product-form { display: block; }
.quick-add add-to-cart-component{ display: block; }
.quick-add .quick-add__button {
    --quick-add-btn-x: calc(-50% - (var(--spacing-48) / 2));
    transition: none; animation: none; display: none; align-items: center; justify-content: center; box-shadow: 0 0 0; border-radius: 3.125rem; padding: var(--spacing-5) var(--spacing-10); min-width: 11.9375rem; min-height: var(--spacing-48); overflow: visible; background: var(--color-primary-button-background); color: var(--color-primary-button-text); border-color: var(--color-primary-button-border); border-width: var(--style-border-width-primary); backdrop-filter: initial; outline: none; opacity: 0; left: 50%; translate: var(--quick-add-btn-x) 0;
}
.quick-add .quick-add__button .add-to-cart-text { display: flex; margin: 0; padding: 0; background: transparent; border-radius:0; }
.quick-add .quick-add__button .add-to-cart-text span { display: inline-block; width: auto; opacity: 1; transform: none; transition: none; padding:0; filter: initial; translate: 0; }
.quick-add .quick-add__button .add-to-cart-icon{ display: none !important; }
.quick-add .quick-add__button .add-to-cart-text__content{ display: block; }
.quick-add .quick-add__button .add-to-cart-text__content span{ padding-right: 0; }
.quick-add .quick-add__button .add-to-cart-text span.compare-at-price { color: inherit; text-decoration-color:inherit; text-decoration-thickness: var(--spacing-1); opacity: 0.5; }
.quick-add .quick-add__button .add-to-cart-text--added { position: absolute; width: 100%; }
.quick-add .quick-add__button:active { scale: 1; translate: var(--quick-add-btn-x) 0; }
.quick-add .quick-add__button:hover { scale: 1; }
.quick-add-badge{ display: block; position: absolute; right: calc(-1 * var(--spacing-48)); bottom: 0; width: var(--spacing-48); height: var(--spacing-48); z-index: 1; }
.quick-add-badge svg{ display: block; width: 100%; height: 100%; }

@media screen and (min-width: 750px){
    .quick-add .quick-add__button { display: flex; }
    product-card:is(:hover, :focus-within) .quick-add .quick-add__button { opacity: 1; }
}

@media (max-width:749px){

    .product-grid__card.product-grid__card{grid-gap:var(--spacing-12);}
    .product-grid__card.product-grid__card .product-badges{left:calc(var(--badge-inset) + var(--padding-inline-start)); right:auto; --badge-inset: var(--spacing-8); width:auto; }
    .product-grid__card.product-grid__card .product-badges__badge{ width:auto; height:var(--spacing-20); padding:var(--spacing-2) var(--spacing-8); border-radius:var(--spacing-99);}
    .product-grid__card.product-grid__card .product-badges__badge:after{display:none;}
    .quick-add .quick-add__button{ min-width: 10rem; }

}
